<div class="col-1 back-panel">
    <div class="channel-links">
        <div class="home-link">
            <i class="fas fa-home"></i>
        </div>
        <hr>
        <form action="/channels" method="GET" id="channels">
            <button type="submit" form="channels" id="add-channels">
                <i class="fas fa-plus"></i>
            </button>
        </form>
    </div>
    <form action="/logout" method="GET" id="logout">
        <hr>
        <button type="submit" form="logout" id="logout-button">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </form>
</div>