<%- include('partials/styleOnlyHeader.ejs'); %>
<div id="homepage-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 back-panel">
                <div class="row" id="groups-home">
                    <i class="fas fa-home"></i>
                </div>
            </div>
            <div class="col-3 back-panel">
                <div class="row" id="searchbar-home">
                    <!-- Taken from https://mdbootstrap.com/snippets/jquery/mdbootstrap/921457 -->
                    <div class="input-group md-form form-sm form-2 pl-0" id="search-box-home">
                        <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Find Friends" aria-label="Search">
                        <div class="input-group-append">
                          <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                              aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row friends-tab">
                    <div class="col-2">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col-10">
                        <h3>Friends</h3>
                    </div>
                </div>
                <div class="row mentions-tab">
                    <div class="col-2">
                        <i class="fas fa-at"></i>
                    </div>
                    <div class="col-10">
                        <h3>Mentions</h3>
                    </div>
                </div>
                <div class="row" id="dms-list-home">
                    <h3>Direct Messages</h3>
                </div>
            </div>
            <div class="col-8 back-panel">
                <div class="row" id="main-home"></div>
            </div>
        </div>
    </div>
</div>