<%- include('partials/styleOnlyHeader'); %> 
<div id="login-main">
  <div class="container-fluid">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" id="login-box">
        <h1>Login</h1>
        <div class="row">
          <div class="col-md-3" id="input-label">
            <h3>E-mail</h3>
            <br>
            <h3>Password</h3>
          </div>
          <div class="col-md-9">
            <div id="user-input"></div>
            <br>
            <div id="user-input"></div>
          </div>
        </div>
        <h1>New Here?</h1>
        <br>
        <h5><a href="">Click here to join the party</a></h5>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div><!-- end .container-fluid -->
</div><!-- end #main -->
<%- include('partials/footer'); %>