<%- include('partials/styleOnlyHeader'); %>
<div id="sign-up-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="login-box">
                <h1>Register</h1>
                <form action="/register" method="POST">
                    <% if (locals.errors && locals.errors.register) { %>
                        <% locals.errors.register.forEach(function(error) { %>
                            <p class="alert alert-primary" role="alert"><%= error %></p>
                        <% }) %>
                    <% } %>
                    <div class="row">
                        <div class="col-md-3" id="input-label">
                            <h3>E-mail</h3>
                            <br>
                            <h3>Password</h3>
                            <h3>Confirm Password</h3>
                        </div>
                        <div class="col-md-9">
                            <div id="user-input">
                                <input name="email" type="email" id="register-email">
                            </div>
                            <br>
                            <div id="user-input">
                                <input name="password" type="password" id="register-password">
                            </div>
                            <br>
                            <div id="user-input">
                                <input name="passwordConfirm" type="password" id="password-confirm">
                            </div>
                        </div>
                        <button id="register" type="submit">Register</button>
                    </div>
                </form>
                <h1>Already Registered?</h1>
                <br>
                <h5><a href="/">Click here to log in</a></h5>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div><!-- end .container-fluid -->
</div>
<%- include('partials/footer'); %>