body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #121212;
  text-decoration: underline;
}

a i {
  margin-right: 0.4rem;
}

.error404{
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  color: rgba(30, 30, 30, 0.5);
}

.error404 .error-text{
  position: absolute;
  text-align: center;
  top: 50%;
  overflow: hidden;
}