body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #8c8c8c;
}

a{
  color: #121212;
  text-decoration: underline;
}

a i{
  margin-right: 0.4rem;
}

/* 404 Page */
.error404{
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.error404 h1{
  width: 100%;
  font-size: 30rem;
  font-weight: bold;
  color: rgba(30, 30, 30, 0.5);
}

.error404 .error-text{
  position: absolute;
  text-align: center;
  top: 50%;
  overflow: hidden;
}

/* Login/Index Page */
#login-main{
  min-height: 100vh;
  overflow: hidden;
}

#login-main .row{
  margin: 10vh 0 2vh 0;
}

#login-box{
  background-color: grey;
  padding: 0;
}

#login-box h1{
  text-align: center;
  padding-top: 15px;
}

#login-box h3{
  padding: 5px 10px;
  margin: 4px 0;
}

#login-box #user-input{
  margin: 5px 10px;
  background-color: rgba(256, 256, 256, 0.3);
  height: 2.5rem;
}

#login-box h5{
  text-align: center;
  padding-bottom: 15px;
}

/* Sign Up Page */
#login-main{
  min-height: 100vh;
  overflow: hidden;
}

#input-label{
  text-align: right;
  padding: 0;
}

#sign-up-main .row{
  margin: 10vh 0 2vh 0;
}

/* Home Page */
#homepage-main{
  min-height: 100vh;
  overflow-x: hidden;
}

#homepage-main h3{
  font-size: 2vw;
}

#homepage-main .container-fluid, #homepage-main .back-panel{
  padding: 0;
  min-height: 100vh;
}

#homepage-main .col-3{
  background-color: #7c7c7c;
}

#homepage-main .col-1{
  background-color: #6c6c6c;
}

#groups-home, #searchbar-home, #main-home{
  margin: 0;
}

#searchbar-home{
  background-color: #6c6c6c;
}

#search-box-home{
  margin: 0.5rem;
}

.friends-tab, .mentions-tab{
  margin: 0.75rem;
  background-color: #dadada;
}

.friends-tab h3, .mentions-tab h3{
  margin: 4px 0;
}

.friends-tab .fa-user, .mentions-tab .fa-at{
  font-size: 2em;
  margin: 6px 0 2px 0;
}

#dms-list-home{
  margin: 1em;
}

#groups-home{
  background-color: #dadada;
  margin: 8px;
}

#groups-home .fa-home{
  display: inline-block;
  font-size: 5em;
}